.submenu {
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
}

.submenuIcon {
  display: none;
  gap: 14px;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.ul {
  display: none;
  list-style: none;
  padding: 14px 0;
  gap: 24px;

  li a {
    background-color: rgb(241, 239, 239);
    color: black;
    padding: 8px 14px;
    border-radius: 4px;
  }
}

.closeButton {
  background: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .submenuIcon {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 14px;
  left: 14px;
  background-color: transparent;
  color: black;
  padding: 4px 8px;
  z-index: 10;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}


  .ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.open {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      z-index: 99;
    }
  }

  .ul li a {
    background-color: transparent;
    color: black;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.6s;
  }

  .ul li a:hover {
    background-color: rgb(241, 239, 239);
    color: black;
  }
}
